<h1>Lucie Lynch Realty</h1>

<img src="https://raw.githubusercontent.com/mlynch5187/fairfax-realty/main/app/assets/images/lucie_realtor.jpg" alt="Lucie Lynch" width="" height=""> -->

<!-- <span class="iconify" data-icon="noto:bird"> test </span>
